<!-- jQuery -->
<script th:src="@{/resources/gentellela/vendors/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/resources/gentellela/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- FastClick -->
<script th:src="@{/resources/gentellela/vendors/fastclick/lib/fastclick.js}"></script>
<!-- NProgress -->
<script th:src="@{/resources/gentellela/vendors/nprogress/nprogress.js}"></script>
<!-- Chart.js -->
<script th:src="@{/resources/gentellela/vendors/Chart.js/dist/Chart.min.js}"></script>
<!-- gauge.js -->
<script th:src="@{/resources/gentellela/vendors/gauge.js/dist/gauge.min.js}"></script>
<!-- bootstrap-progressbar -->
<script th:src="@{/resources/gentellela/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
<!-- iCheck -->
<script th:src="@{/resources/gentellela/vendors/iCheck/icheck.min.js}"></script>
<!-- Skycons -->
<script th:src="@{/resources/gentellela/vendors/skycons/skycons.js}"></script>
<!-- Flot -->
<script th:src="@{/resources/gentellela/vendors/Flot/jquery.flot.js}"></script>
<script th:src="@{/resources/gentellela/vendors/Flot/jquery.flot.pie.js}"></script>
<script th:src="@{/resources/gentellela/vendors/Flot/jquery.flot.time.js}"></script>
<script th:src="@{/resources/gentellela/vendors/Flot/jquery.flot.stack.js}"></script>
<script th:src="@{/resources/gentellela/vendors/Flot/jquery.flot.resize.js}"></script>
<!-- Flot plugins -->
<script th:src="@{/resources/gentellela/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
<script th:src="@{/resources/gentellela/vendors/flot-spline/js/jquery.flot.spline.min.js}"></script>
<script th:src="@{/resources/gentellela/vendors/flot.curvedlines/curvedLines.js}"></script>
<!-- DateJS -->
<script th:src="@{/resources/gentellela/vendors/DateJS/build/date.js}"></script>
<!-- JQVMap -->
<script th:src="@{/resources/gentellela/vendors/jqvmap/dist/jquery.vmap.js}"></script>
<script th:src="@{/resources/gentellela/vendors/jqvmap/dist/maps/jquery.vmap.world.js}"></script>
<script th:src="@{/resources/gentellela/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js}"></script>
<!-- bootstrap-daterangepicker -->
<script th:src="@{/resources/gentellela/vendors/moment/min/moment.min.js}"></script>
<script th:src="@{/resources/gentellela/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>

<!-- Custom Theme Scripts -->
<script th:src="@{/resources/gentellela//build/js/custom.min.js}"></script>